@import url("http://fonts.googleapis.com/css?family=Vibur");
@tailwind base;
@tailwind components;
@tailwind utilities;


    /* Smooth scroll */
html {
  scroll-behavior: smooth;
}


@keyframes scrollBad{
  100% {
    background-position:0px -3000px;
  }
}



.animatedBackground {
  -webkit-animation: scrollBad 100s linear infinite;
  animation: scrollBad 100s linear infinite;
}


.bg-hero-pattern {
  background-size: 2050px;  
}








.arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
  margin: 5%;
  animation: animate 2s infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

.card-div {
  background-image: url("https://images.unsplash.com/photo-1522093007474-d86e9bf7ba6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* LOGO CONTACT ME */
.logosContactMe {
  margin-top: 40vw !important;
  margin-bottom: 10vw;
	align-items: center;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

@media (min-width: 768px) {
  .logosContactMe {
    margin-top: 20vw !important;
  }

  .logo b {
    position: relative !important;
    left: 5vw !important;
    top: 13.5vw !important;
    font: 400 3.5vw "Vibur" !important;
  }
  .logo b span {
    margin-right: 15px;
  }

}

.logo b {
  position: relative;
  left: 10vw;
  top: 30vw;
  font: 400 5vw "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
  margin-right: 15px;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

.logo {
  text-align: center;

    /* width: 30vh; */
  height: 0vh;
  /* margin: auto; */
  position: relative;
  top: 0;
  /* left: -80vh; */
  right: 0;
  bottom: 0;
  user-select: none;
  max-width: 800px;
}


@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}





/* Youtube video container */
@media only screen and (max-width: 768px) {
  .youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  
  .youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


















.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay-oculto{
  visibility:hidden !important; 
}

.overlay-visible{
  visibility:visible !important; 
}


.popup .content {
  max-height: 30%;
  overflow: auto;
}

#popupVideo {
  top: 20%;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 80%;
  }
}






/* SOCIAL MEDIA ICONS */
.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none;
}

.logosContactMe {
  margin-top: 25vw;
  align-items: center;
}

.svg--icon {
  width: 100%;
  max-width: 2rem;
  height: 100%;
  max-height: 2rem;
  display: block;
  margin: 0 auto;
  fill: currentColor;
}

.svg--icon-smaller {
  width: 60%;
}

.share {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  color: #828282;
  border: 0.125rem solid #828282;
  border-radius: 10%;
  transition: 250ms;
}
.share:last-child {
  margin-right: 0;
}
.share:hover, .share:focus {
  background: #f1f1f1;
  border-color: #333;
  border-radius: 15%;
}
.share:focus {
  outline-color: inherit;
}

.twitter:hover, .twitter:focus {
  color: #00ACED;
}

.github:hover, .github:focus {
  color: #4183c4;
}

.youtube:hover, .youtube:focus {
  color: #cd201f;
}

.facebook:hover, .facebook:focus {
  color: #3b5998;
}

.stackoverflow:hover .svg--icon-st, .stackoverflow:focus .svg--icon-st {
  fill: #F68A1F;
}

.linkedin:hover, .linkedin:focus {
  color: #1d87be;
}

#svg--codepen {
  stroke: #828282;
}

.rss:hover, .rss:focus {
  color: #D95B29;
}